 body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle at center, #000000, #333333);
    color: white;
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin:  50px;
    color: #FEF2BF;
  }
  
  .simon-game-container {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    background-color: #222;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .simon-button {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .simon-button.green {
    background-color: #00FF00;
  }
  
  .simon-button.red {
    background-color: #FF0000;
  }
  
  .simon-button.yellow {
    background-color: #FFFF00;
  }
  
  .simon-button.blue {
    background-color: #0000FF;
  }
  
  .simon-button:active {
    transform: scale(0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  

  .simon-game-container::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
  }
  
  .simon-game-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #666;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) inset;
    z-index: -1;
  }

  .game-over{
    background: radial-gradient(circle at center, #ff0000, #470000);
    opacity: 0.8;
  }
  #start-button {
    width: 200px;
    height: 60px; 
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    font-size: 1.5rem;
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    margin: 20px; 
    margin-top: 60px;
}

#start-button:hover {
    background-color: #45a049;
}


#start-button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 480px) {
    #level-title {
        font-size: 1.8rem;
    }

    .simon-button {
        width: 40%; 
        height: 40%;
    }
}
